In [1]:
import urllib
import csv
import os
import sys
from pandas import DataFrame, read_csv
import pandas as pd 

url = 'http://www.exploredata.net/ftp/WHO.csv'

df = pd.read_csv(url)

In [2]:
df.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151,28.0,NaN,NaN,NaN,26088,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27,98.7,6000,93,94,3172,0.6,...,3499.12,4790000000,78.14,-2040000000,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6,69.9,5940,94,96,33351,1.5,...,137535.56,69700000000,351.36,4700000000,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83,83,74,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146,67.4,3890,49,51,16557,2.8,...,8991.46,14900000000,27.13,9140000000,164.10,242.5,164.10,8578749.0,4.14,53.3

In [3]:
df[df['CountryID'].isin(range(10,40))].to_csv('10-40.csv', index=False, header=False)

In [4]:
from boto.s3.connection import S3Connection
from boto.s3.key import Key

conn = S3Connection('AKIAJBRIUWSXGQ4NKQTA', 'tlr8toOkSkOB+GD9XmHoX2WQ5Y9sdl5E5EIDYFbU')
bucket = conn.create_bucket('rcordell-sub-datasets')

def percent_cb(complete, total):
	sys.stdout.write('.')
	sys.stdout.flush()

myKey = Key(bucket)
myKey.key = '10-40.csv'

In [5]:
myKey.set_contents_from_filename('10-40.csv', cb=percent_cb)

..............

46542

In [38]:
df._get_numeric_data().min(numericOnly=True).head()

CountryID                                                   1.0
Continent                                                   1.0
Adolescent fertility rate (%)                               0.0
Adult literacy rate (%)                                    23.6
Gross national income per capita (PPP international $)    260.0
dtype: float64

In [46]:
df.select_dtypes(include=['int','float']).max() - df.select_dtypes(include=['int','float']).min()

CountryID                                                                                         2.010000e+02
Continent                                                                                         6.000000e+00
Adolescent fertility rate (%)                                                                     1.990000e+02
Adult literacy rate (%)                                                                           7.620000e+01
Gross national income per capita (PPP international $)                                            6.061000e+04
Net primary school enrolment ratio female (%)                                                     9.400000e+01
Net primary school enrolment ratio male (%)                                                       8.900000e+01
Population (in thousands) total                                                                   1.328472e+06
Population annual growth rate (%)                                                                 6.800000e+00
Population in urban areas (%)                                                                     9.000000e+01
Population living below the poverty line (% living on &lt; US$1 per day)                          6.880000e+01
Population median age (years)                                                                     2.800000e+01
Population proportion over 60 (%)                                                                 2.500000e+01
Population proportion under 15 (%)                                                                3.500000e+01
Registration coverage of births (%)                                                               8.700000e+01
Total fertility rate (per woman)                                                                  6.100000e+00
Antenatal care coverage - at least four visits (%)                                                9.200000e+01
Antiretroviral therapy coverage among HIV-infected pregt women for PMTCT (%)                      9.400000e+01
Antiretroviral therapy coverage among people with advanced HIV infections (%)                     9.400000e+01
Births attended by skilled health personnel (%)                                                   9.400000e+01
Births by caesarean section (%)                                                                   3.100000e+01
Children aged 6-59 months who received vitamin A supplementation (%)                              7.300000e+01
Children aged &lt;5 years sleeping under insecticide-treated nets (%)                             4.890000e+01
Children aged &lt;5 years who received any antimalarial treatment for fever (%)                   6.250000e+01
Children aged &lt;5 years with ARI symptoms taken to facility (%)                                 6.990000e+01
Children aged &lt;5 years with diarrhoea receiving ORT (%)                                        5.150000e+01
Contraceptive prevalence (%)                                                                      8.740000e+01
Neonates protected at birth against neonatal tetanus (PAB) (%)                                    9.100000e+01
One-year-olds immunized with MCV                                                                  7.600000e+01
One-year-olds immunized with three doses of diphtheria tetanus toxoid and pertussis (DTP3) (%)    7.900000e+01
                                                                                                      ...
Prostate_cancer_new_cases_per_100_000_men                                                         1.245000e+02
Prostate_cancer_number_of_male_deaths                                                             3.244100e+04
Prostate_cancer_number_of_new_male_cases                                                          2.399290e+05
Pump_price_for_gasoline                                                                           1.900000e+00
Ratio_of_girls_to_boys_in_primary_and_secondary_education                                         6.444000e+01
Ratio_of_young_literate_females_to_males                                                          7.016000e+01
Roads_paved                                                                                       9.920000e+01
SO2_emissions_per_person                                                                          1.064500e+02
Services_contribution_to_economy                                                                  8.769000e+01
Stomach_cancer_deaths_per_100_000_men                                                             3.660000e+01
Stomach_cancer_deaths_per_100_000_women                                                           2.360000e+01
Stomach_cancer_new_cases_per_100_000_men                                                          6.910000e+01
Stomach_cancer_new_cases_per_100_000_women                                                        3.000000e+01
Stomach_cancer_number_of_female_deaths                                                            1.017160e+05
Stomach_cancer_number_of_male_deaths                                                              2.066300e+05
Stomach_cancer_number_of_new_female_cases                                                         1.284750e+05
Stomach_cancer_number_of_new_male_cases                                                           2.644580e+05
Sugar_per_person                                                                                  1.863000e+02
Surface_area                                                                                      1.709997e+07
Tax_revenue                                                                                       4.336000e+01
Total_CO2_emissions                                                                               5.776406e+06
Total_income                                                                                      1.099995e+13
Total_reserves                                                                                    1.333870e+03
Trade_balance_goods_and_services                                                                  8.530000e+11
Under_five_mortality_from_CME                                                                     2.641000e+02
Under_five_mortality_from_IHME                                                                    2.507000e+02
Under_five_mortality_rate                                                                         2.641000e+02
Urban_population                                                                                  5.269845e+08
Urban_population_growth                                                                           9.010000e+00
Urban_population_pct_of_total                                                                     9.000000e+01
dtype: float64

In [61]:
index = df['Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) male'].idxmax()
index
df.loc[index,'Country']

'Lesotho'