In [2]:
import csv

mFile = open('~/Downloads/MIDSDS.csv','rb') 

reader =csv.reader(mFile)

IOError: [Errno 2] No such file or directory: '~/Downloads/MIDSDS.csv'

In [106]:
d = [i for i in  reader] 


print d

[['Nick', '27', 'MIDS13'], ['Joe', '25', 'MIDS14'], ['Jessy', '31', 'MIDS14'], ['Ali', '36', 'MIDS13']]

In [107]:
d=d+[['Mike','32','MIDS15']]
print d

[['Nick', '27', 'MIDS13'], ['Joe', '25', 'MIDS14'], ['Jessy', '31', 'MIDS14'], ['Ali', '36', 'MIDS13'], ['Mike', '32', 'MIDS15']]

In [110]:
d= [[row[0],eval(row[1])+1,row[2]] for row in reader]

print d

[['Nick', 28, 'MIDS13'], ['Joe', 26, 'MIDS14'], ['Jessy', 32, 'MIDS14'], ['Ali', 37, 'MIDS13']]

In [112]:
out=open('MIDS_out.csv','wb')
output=csv.writer(out)

for row in d:
    output.writerow(row)
out.close()

In [113]:
mFile = open('MIDS_out.csv','rb') 

reader =csv.reader(mFile)
d = [i for i in  reader] 


print d

[['Nick', '28', 'MIDS13'], ['Joe', '26', 'MIDS14'], ['Jessy', '32', 'MIDS14'], ['Ali', '37', 'MIDS13']]

##Using Pandas for creating CSV file

In [ ]:
import os
from pandas import DataFrame, read_csv
import pandas as pd

In [114]:
names = ['Nick','Joe','Jessy','Ali']
ages = [27, 25, 31, 36, 29]
program =['MIDS13','MIDS14','MIDS14','MIDS13']

In [115]:

MIDSDS = zip(names,ages,program)
MIDSDS

[('Nick', 27, 'MIDS13'),
 ('Joe', 25, 'MIDS14'),
 ('Jessy', 31, 'MIDS14'),
 ('Ali', 36, 'MIDS13')]

In [116]:
df = pd.DataFrame(data = MIDSDS, columns=['Name', 'Age','Program'])
df

    Name  Age Program
0   Nick   27  MIDS13
1    Joe   25  MIDS14
2  Jessy   31  MIDS14
3    Ali   36  MIDS13

In [117]:
df.to_csv('MIDSDS.csv',index=False,header=False)

In [118]:
ds = r'MIDSDS.csv'
df = pd.read_csv(ds,names=['Name', 'Age','Program'])

In [119]:
df

    Name  Age Program
0   Nick   27  MIDS13
1    Joe   25  MIDS14
2  Jessy   31  MIDS14
3    Ali   36  MIDS13

In [ ]:
os.remove(ds)

## Two good tools for working with JSON and CSV on the command line:
##1-JQ
##2-CSVKit